/* body {
  color: #333;
  margin: 0;
  padding: 8px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

input[type="range"] {
  height: 0;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
} */

body {
  zoom: 0.85;
  padding: 0.5rem;
}
.item {
  border: #ccc 1px solid;
  /* margin-left: 25px; */
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

pre {
  display: none;
}

.btn-secondary {
  background-color: #ededee;
  background-image: none;
  border-color: #cbcccd;
  color: black;
  box-shadow: none;
  text-shadow: none;
  /* min-width: 100px; */
}

.btn {
  font-size: 0.95rem;
  padding: 0.2rem 1rem;
  align-self: flex-end;
}
/* 
.fas {
  margin-right: 0.3rem;
} */

.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active {
  font-weight: normal;
  background-color: #f7f7f8;
  background-image: none;
  border-color: #cbcccd;
  color: #02629f;
  box-shadow: none;
  text-shadow: none;
}

.iBtn {
  padding: 0;
}

select {
  min-width: 12rem;
  height: calc(1.5em + 0.75rem + 2px);
  background-color: #fff;
  border: 1px solid #ced4da;
}

.rItem {
  margin-left: 0.75rem;
}
